# virtual environment
.venv
# vs code specific things
.vscode
# pycharm specific things
.idea

# local data
data
Models

# Byte code
__pycache__
*.pyc

# Main class to quickly test out stuff
Code/Playground.py
Playground.py

# Report pdf
Report/report.pdf

# wandb logs
wandb
autoregressive-downcasting
slurm-output
lightning_logs
