# virtual environment
.venv
# vs code specific things
.vscode
# pycharm specific things
.idea
# local data
data

# Byte code
__pycache__
*.pyc

# Main class to quickly test out stuff
Code/Playground.py

